# ==========================================
# GCP Project Settings
# ==========================================
GCP_PROJECT_ID=YOUR_GCP_PROJECT_ID
GCP_REGION=europe-west6
GCP_ZONE=europe-west6-b
VM_USERNAME=your_gcp_username
BUCKET_NAME=openclaw_storage

# ==========================================
# USER & BOT Settings
# ==========================================
OWNER_PHONE_NUMBER=+12345678900
BOT_PHONE_NUMBER=+10987654321
BOT_NAME=Agent Bridge

# ==========================================
# TELEGRAM Settings
# ==========================================
TELEGRAM_TOKEN_BOT_1=123:abc
TELEGRAM_ID_BOT_1=12345678

TELEGRAM_TOKEN_BOT_2=123:abc
TELEGRAM_ID_BOT_2=12345678

TELEGRAM_TOKEN_BOT_3=123:abc
TELEGRAM_ID_BOT_3=12345678

TELEGRAM_TOKEN_BOT_4=123:abc
TELEGRAM_ID_BOT_4=12345678

TELEGRAM_TOKEN_BOT_5=123:abc
TELEGRAM_ID_BOT_5=12345678

TELEGRAM_CODE=

# ==========================================
# GOOGLE API Settings
# ==========================================
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY

# ==========================================
# GITHUB Settings
# ==========================================
GITHUB_REPO=https://github.com/your_username/your_repo.git
GITHUB_PAT=ghp_xyz


# ==========================================
# OPENCLAW GATEWAY Settings
# ==========================================
OPENCLAW_GATEWAY_TOKEN=YOUR_GATEWAY_TOKEN_HERE
